body{
    background-color: lightgray;
    margin-top: 75px
}
#header_row{
    border-bottom: 2px solid lightgray;
    margin-bottom: 15px;
}
#AM_Head{
    margin-bottom:0;
}
/* Container */
.container-fluid{
    background-color: white;
    max-width: 95%;
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* Image Handling */
.img-fluid{
    width: 80%;
    display: block;
    margin: auto;
}

#p3{
    margin: auto;
    color: white;
}
